<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.nld.aurowork.dev</string>
  <key>CFBundleName</key>
  <string>AuroWork - Dev</string>
  <key>CFBundleDisplayName</key>
  <string>AuroWork - Dev</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLName</key>
      <string>com.nld.aurowork.dev aurowork-dev</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>aurowork-dev</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
